/*General styles*/

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

p {
  line-height: 20px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.img-container img {
  max-width: 100%;
}

.text-container {
  max-width: 100%;
}

/*Header styles*/

header {
  height: 64px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.logo span {
  font-family: Helvetica;
  font-size: 32px;
}

nav ul {
  display: flex;
  align-items: center;
}

.desktop li {
  margin-left: 16px;
  font-size: 20px;
}

.desktop a:hover {
  color: #3973ac;
}

.mobile {
  display: none;
}

/*Banner styles*/

banner {
  background-color: #79a6d2;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 32px 24px;
}

banner .img-container {
  max-width: 60%;
}

banner .text-container {
  margin-left: 40px;
  max-width: 30%;
}

banner h1 {
  font-size: 50px;
  color: #ff6600;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
}

banner h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

banner .button {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

banner .button:hover {
  background-color: #ff6600;
  color: black;
}

/*Information section styles*/

.information {
  display: flex;
  padding: 32px 24px;
}

.information .main {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding-right: 24px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  padding-top: 32px;
}

.information .main p {
  padding-top: 24px;
}

.information .highlights {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-top: -16px;
  margin-right: -24px;
}

.highlight {
  display: flex;
  align-items: center;
}

.highlight .img-container {
  max-width: 35%;
  height: auto;
  padding: 16px;
}

.highlight .text-container {
  max-width: 65%;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
}

.highlight .text-container p {
  padding-bottom: 8px;
}

.highlight a:hover {
  color: #3973ac;
}

#special-highlight {
  background-color: #79a6d2;
}

#special-highlight a:hover {
  color: #ff6600;
}

/*Courses section styles*/

.courses-section {
  background-color: #79a6d2;
  padding: 0 72px 32px 72px;
}

.courses-section h2 {
  text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  width: 272px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.course .text-container {
  padding: 16px 16px 24px 16px;
  background-color: white;
}

.course .text-container p {
  padding: 8px 0;
}

#computer-art {
  padding-bottom: 10px;
}

/*Thesis section styles*/

.thesis h2 {
  text-align: center;
}

.thesis .information .highlights {
  margin-top: 0px;
}

.thesis h4 {
  margin-top: 24px;
}

.thesis .main p {
  padding-top: 8px;
}

/*Footer styles*/

footer {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
}

footer .links {
  display: flex;
}

footer .links span {
  margin-left: 10px;
}

footer .links a:hover {
  color: #3973ac;
}

/*Media queries for mobile devices*/

@media only screen and (max-width:768px) {
  .container {
    max-width: 100%;
  }

  .logo {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile li {
    display: inline-block;
    margin: 20px;
  }

  .mobile li img {
    height: 50px;
  }

  banner {
    flex-direction: column;
    align-items: center;
    padding: 0 0 32px 0;
  }

  banner .img-container {
    max-width: 100%;
    position: center;
    margin-bottom: 32px;
  }

  banner .text-container {
    max-width: 100%;
    margin-right: 24px;
  }

  .middle .information .main {
    display: none;
  }

  .middle .information {
    padding: 0;
    display: block;
    max-width: 100%;
  }

  .middle .information .highlights {
    max-width: 100%;
    margin: 16px 0;
    justify-content: flex-start;
  }

  .highlight {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .highlight .img-container {
    max-width: 100%;
    margin: 0;
  }

  .highlight .text-container {
    max-width: 100%;
    text-align: center;
  }

  #special-highlight {
    background-color: white;
  }

  #special-highlight a:hover {
    color: #3973ac;
  }

  .courses-section {
    background-color: white;
    padding: 0;
  }

  .courses-section h2 {
    margin-bottom: 16px;
  }

  .courses-section .img-container {
    display: none;
  }

  .courses-section .text-container {
    width: 100%;
    padding: 8px;
  }

  #computer-art {
    padding-bottom: 8px;
  }

  .course {
    width: 100%;
    margin: 0;
  }

  .courses-section .text-container p {
    display: none;
  }

  .courses-section .text-container span {
    display: none;
  }

  .courses-section h4 {
    font-size: 24px;
    background-color: #79a6d2;
    padding: 20px 0;
    text-align: center;
  }

  .courses-section h4:hover {
    background-color: #ff6600;
  }

  .thesis .text-container {
    display: none;
  }

  .thesis .main {
    max-width: 100%;
    padding-right: 0;
  }

  .thesis .highlights {
    display: none;
  }

  footer .links {
    display: none;
  }

}
