/*General styles*/

html {
  font-family: Helvetica;
  font-size: 16px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.img-container img {
  max-width: 100%;
}

.text-container {
  max-width: 100%;
}

/*Header styles*/

header {
  height: 64px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.logo span {
  font-size: 32px;
}

nav ul {
  display: flex;
  align-items: center;
}

.desktop li {
  margin-left: 16px;
  font-size: 20px;
}

.mobile {
  display: none;
}

/*Banner styles*/

banner {
  background-color: lightgrey;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 32px 24px;
}

banner .img-container {
  max-width: 60%;
}

banner .text-container {
  margin-left: 24px;
  max-width: 30%;
}

banner h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

banner h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

banner .button {
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
}

/*Information section styles*/

.information {
  display: flex;
  padding: 32px 24px;
}

.information .main {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  padding-right: 24px;
}

.information .highlights {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-top: -16px;
  margin-right: -24px;
}

.highlight {
  display: flex;
  align-items: center;
}

.highlight .img-container {
  max-width: 35%;
  height: auto;
  padding: 16px;
}

.highlight .text-container {
  max-width: 65%;
}

#special-highlight {
  background-color: lightgrey;
}

/*Courses section styles*/

.courses-section {
  background-color: lightgrey;
  text-align: center;
  padding: 32px 72px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  width: 272px;
  display: flex;
  flex-direction: column;
}

.course .text-container {
  background-color: white;
}

/*Thesis section styles*/

.thesis {
  text-align: center;
}

/*Footer styles*/

footer {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
}

footer .links {
  display: flex;
}
